[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "algaeClassify"]
	path = algaeClassify
	url = https://github.com/cran/algaeClassify
